<!DOCTYPE html>
<html>
<%- inlcude ('./headMain') %>
<body>
  <!-- Navbar (sit on top) -->
<%- include('./navbar') %>
  <!-- Header -->
  <header class="ps-display-container ps-content ps-wide" id="home">
    <img class="ps-image" src="/images/header.jpg" alt="Pimienta & Sal" width="1600" height="800" />
    <div class="ps-display-bottomleft ps-padding-large ps-opacity">
      <h1 class="ps-xxlarge">Sabores que enamoran</h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="ps-content">
    <!-- About Section -->
  <%- incluide ('./about') %>
    <!-- Menu Section -->
    <div class="ps-row ps-padding-64" id="menu">
      <div class="ps-col l6 ps-padding-large">
        <h1 class="ps-center">Nuentro Menu</h1>
        <br />
        <!-- <h4>elemento bloque
  <a>  elemento linea
  Un elemento en linea nunc apuede contener un alemento en bloque.
  Un elemento en bloque puede contener otros en bolque y en linea.
          
  bloque=ocupa el espacio del elemento que lo contiene/gas/
  linea=Ocupa el espacio del texto que le contiene
          -->
        <% for(const platillo of platillos){ %>
          <h4><a href="/detalle/<%= platillo.id %>"><%= platillo.titulo %></a></h4>
          <p class="ps-text-grey">
            <%= platillo.descripcionCorta %> US$ <%= platillo.precio %>
          </p>
          <br />
        <% } %>
        
      </div>

      <div class="ps-col l6 ps-padding-large ps-img-menu">
        <img src="/images/menu.jpg">
        class="ps-round ps-image ps-opacity-min" alt="Menu" />
      </div>
    </div>

    <!-- Footer -->
    <footer class="ps-center ps-light-grey ps-padding-32">
      <p>Powered by Pimienta & Sal</p>
    </footer>
  </div>
</body>

</html>